<% include header.ejs %>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700" class="deviceWidth" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;">
<tbody><tr>
<td style="padding-top: 20px; border-collapse: collapse;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0px; border-collapse: collapse;">
<tbody><tr>
<td style="font-size: 22px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 53, 128); border-collapse: collapse;" align="left">
<%= title%>
</td>
</tr>
<tr>
<td style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: rgb(83, 83, 83); padding-bottom: 20px; border-collapse: collapse;" align="left">
<%= sub_title%>
</td>
</tr>
</tbody></table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
  <tbody>
  	<% for( i=0; i<email_ads.length; i++) { item = email_ads[i] %>
	   <%if ( i % 3 ==0 ) { %>
		<tr>
	              <td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
		<%} else { %>  
	            <td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	  <% }%>	
	
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody>
		<tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<%=item.country%>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<img class="r-fw" src=<%=item.pic_url%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<img src=<%=item.icon_url%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<strong style="font-weight: bold;"><%=item.city%></strong>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<strong style="font-weight: bold;"><%=item.short_name%></strong>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%=item.model%>
	<%=item.price%>欧元起
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href=<%=item.site%> style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->

<!-- 3th line-->
    <%if ( i % 3 ==2 ) { %>
       </tr>
    <% }%>	

 <% }%>
<!-- end loop-->
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>

</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<% include footer.ejs %>