<% include header.ejs %>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700" class="deviceWidth" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;">
<tbody><tr>
<td style="padding-top: 20px; border-collapse: collapse;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0px; border-collapse: collapse;">
<tbody><tr>
<td style="font-size: 22px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 53, 128); border-collapse: collapse;" align="left">
<%= title%>
</td>
</tr>
<tr>
<td style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: rgb(83, 83, 83); padding-bottom: 20px; border-collapse: collapse;" align="left">
<%= sub_title%>
</td>
</tr>
</tbody></table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
  <tbody>
	<tr>
	<td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">
		<%= countrys[0]%>
		</a>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<a href="" target="_blank" style="display: block; color: rgb(8, 150, 255); text-decoration: none;">
		<img class="r-fw" src=<%= urls[0]%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
			<img src=<%= icons[0]%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</a>
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
			<strong style="font-weight: bold;"><%=citys[0]%></strong>
			</a>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h27/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h28/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
		<strong style="font-weight: bold;"><%= lines[0]%></strong>
		</a>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%= models[0]%>
	<a href="" target="_blank" style="color: rgb(8, 150, 255); font-weight: bold; font-size: 16px; white-space: nowrap; text-decoration: none;">
	<%= prices[0]%>
	</a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href="" style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<a target="_blank" href="" style="color: rgb(8, 150, 255); text-decoration: none;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</a>
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->

	<td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">
		<%= countrys[1]%>
		</a>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<a href="" target="_blank" style="display: block; color: rgb(8, 150, 255); text-decoration: none;">
		<img class="r-fw" src=<%= urls[1]%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
			<img src=<%= icons[1]%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</a>
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
			<strong style="font-weight: bold;"><%=citys[1]%></strong>
			</a>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h27/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h28/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
		<strong style="font-weight: bold;"><%= lines[1]%></strong>
		</a>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%= models[1]%>
	<a href="" target="_blank" style="color: rgb(8, 150, 255); font-weight: bold; font-size: 16px; white-space: nowrap; text-decoration: none;">
	<%= prices[1]%>
	</a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href="" style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<a target="_blank" href="" style="color: rgb(8, 150, 255); text-decoration: none;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</a>
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->
	<td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">
		<%= countrys[2]%>
		</a>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<a href="" target="_blank" style="display: block; color: rgb(8, 150, 255); text-decoration: none;">
		<img class="r-fw" src=<%= urls[2]%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
			<img src=<%= icons[2]%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</a>
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
			<strong style="font-weight: bold;"><%=citys[2]%></strong>
			</a>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h27/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h28/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
		<strong style="font-weight: bold;"><%= lines[2]%></strong>
		</a>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%= models[2]%>
	<a href="" target="_blank" style="color: rgb(8, 150, 255); font-weight: bold; font-size: 16px; white-space: nowrap; text-decoration: none;">
	<%= prices[2]%>
	</a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href="" style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<a target="_blank" href="" style="color: rgb(8, 150, 255); text-decoration: none;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</a>
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
</tr>
<!-- one of the cards -->
<!-- second line-->
<tr>
	<td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">
		<%= countrys[3]%>
		</a>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<a href="" target="_blank" style="display: block; color: rgb(8, 150, 255); text-decoration: none;">
		<img class="r-fw" src=<%= urls[3]%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
			<img src=<%= icons[3]%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</a>
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
			<strong style="font-weight: bold;"><%=citys[3]%></strong>
			</a>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h27/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h28/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
		<strong style="font-weight: bold;"><%= lines[3]%></strong>
		</a>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%= models[3]%>
	<a href="" target="_blank" style="color: rgb(8, 150, 255); font-weight: bold; font-size: 16px; white-space: nowrap; text-decoration: none;">
	<%= prices[3]%>
	</a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href="" style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<a target="_blank" href="" style="color: rgb(8, 150, 255); text-decoration: none;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</a>
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->
	<td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">
		<%= countrys[4]%>
		</a>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<a href="" target="_blank" style="display: block; color: rgb(8, 150, 255); text-decoration: none;">
		<img class="r-fw" src=<%= urls[4]%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
			<img src=<%= icons[4]%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</a>
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
			<strong style="font-weight: bold;"><%=citys[4]%></strong>
			</a>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h27/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h28/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
		<strong style="font-weight: bold;"><%= lines[4]%></strong>
		</a>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%= models[4]%>
	<a href="" target="_blank" style="color: rgb(8, 150, 255); font-weight: bold; font-size: 16px; white-space: nowrap; text-decoration: none;">
	<%= prices[4]%>
	</a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href="" style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<a target="_blank" href="" style="color: rgb(8, 150, 255); text-decoration: none;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</a>
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->

	<td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">
		<%= countrys[5]%>
		</a>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<a href="" target="_blank" style="display: block; color: rgb(8, 150, 255); text-decoration: none;">
		<img class="r-fw" src=<%= urls[5]%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
			<img src=<%= icons[5]%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</a>
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<a href="" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
			<strong style="font-weight: bold;"><%=citys[5]%></strong>
			</a>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h27/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</a>
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<a href="http://sg.booking.com/mpss/c/4gA/HqQOAA/t.1r8/0tXoV03YSJG7UYzEyl1T9g/h28/kcg1XczJgtX-2FnXUgOOdjhJnTYjIyiQx5EznmJEYw-2FLS3Vtwh1nazfUjMJnTxRhfC-2FhubTux1rNOeTgqFY7-2FNZ9TOTToWmy6oXtk-2BbrhFlR-2BBX7sqVyxFekHAaMr5Y0XfniHdCASYlT1sjV3pwEuYrIz3dDyudinxRHNCNyPYx94UgWjbdTjr9oiSq41WbFZQVF6YCoLLWtpBk-2F9Uowrt2Bd8eJ1mXguA-2BVleigV22f3I7iZ0OJKjyLIJHTuAX5KTeaY2MhS-2Fmft63PVpU7EsfcV3En7X-2FJtRJzoDWzHRNydmHXjyjPS0XOMSxV3RzUBKhDBcKliq7r7URqsEYh9aleUr6X6-2FTysH-2BLe03J923K8F-2FTrCeuxzguf1EmlmYYhS" target="_blank" style="color: rgb(8, 150, 255); display: block; text-decoration: none;">
		<strong style="font-weight: bold;"><%= lines[5]%></strong>
		</a>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%= models[5]%>
	<a href="" target="_blank" style="color: rgb(8, 150, 255); font-weight: bold; font-size: 16px; white-space: nowrap; text-decoration: none;">
	<%= prices[5]%>
	</a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href="" style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<a target="_blank" href="" style="color: rgb(8, 150, 255); text-decoration: none;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</a>
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>

</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<% include footer.ejs %>