<% include header.ejs %>
<div class="container">
<form name="update_line" action = <%= '/lines/' + line_id%> method="post" class="form-horizontal">
<fieldset>
      <div id="legend" class="">
        <legend class="">addline</legend>
      </div>
    
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">name_cn</label>
          <div class="controls">
            <input name="line_id" value=<%=line_id%> type="hidden">
            <input type="text" placeholder="一日游" class="input-xlarge" name="name_cn" value=<%=name_cn%>>
            <p class="help-block">路线名称</p>
          </div>

           <label class="control-label" for="input01">destination</label>
          <div class="controls">
            <input type="text" name="destination" value=<%=destination%>>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">URL</label>
          <div class="controls">
            <input type="text" placeholder="http://europely.com" class="input-xlarge" name="site" value=<%=url_line%>>
            <p class="help-block">网址</p>
          </div>
        </div>

<div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">price</label>
          <div class="controls">
            <input type="text" placeholder="700" class="input-xlarge" name="price" value=<%=price%>>
          </div>
        </div>

  <div class="control-group">
          <label class="control-label">天数: <%=day%></label>

          <!-- Multiple Checkboxes -->
          <div class="controls">
      <!-- Inline Checkboxes -->
      <label class="checkbox-inline">
        <input type="checkbox" value="1" name="day">
        1
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="2" name="day">
        2
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="3" name="day">
        3
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="4" name="day">
        4
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="5" name="day">
        5
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="6" name="day">
        6
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="7" name="day">
        7
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="8" name="day">
        8
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="9" name="day">
        9
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="10" name="day">
        10
      </label>
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="11" name="day">
        10+
      </label>
  </div>
</div>

<div class="control-group">
          <label class="control-label">Active  <%=actived%></label>
          <div class="controls">

            <!-- Multiple Radios -->
            <label class="radio">
              <input type="radio" value="1" name="active" checked="checked">
              Yes
            </label>
            <label class="radio">
              <input type="radio" value="0" name="active">
              No
            </label>
          </div>

        </div>


    <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Button</button>
          </div>
        </div>

    </fieldset>
</form>
</div>
<% include footer.ejs %>

